### Lese inn og skrive dataframes i R

#### Dapla har laget 2 funksjoner for dette formålet:

* spark.read.path
* spark.write.path

Funksjonene håndterer automatisk kommunikasjonen mot tjenestene i Dapla. Disse må kjøres i __SparkR__ kernel.

#### Eksempel: Skrive en dataframe til fellesområdet:

##### Oppretter en R dataframe

In [26]:
employee <- c('John Doe','Peter Gynn','Jolie Hope')
salary <- c(21000, 23400, 26800)
startdate <- as.Date(c('2010-11-1','2008-3-25','2007-3-14'))
employ.data <- data.frame(employee, salary, startdate)

##### Skriver R dataframe til fellesområdet:

In [27]:
# Create the SparkDataFrame
spark_df <- as.DataFrame(employ.data)

spark.write.path(spark_df, "/felles/veiledning/r/eksempler/ansatte", valuation = "INTERNAL", state = "INPUT")

##### Lese ut data igjen fra fellesområdet:

In [30]:
df <- spark.read.path("/felles/veiledning/r/eksempler/ansatte")
head(df)

  employee   salary startdate
1 John Doe   21000  2010-11-01
2 Peter Gynn 23400  2008-03-25
3 Jolie Hope 26800  2007-03-14

##### Liste ut filstier fra fellesområdet:

In [31]:
liste <- spark.read.path("/felles/veiledning/r/*")
head(liste)

  path
1 /felles/veiledning/r/eksempler/ansatte

#### Eksempel: Lese inn eksempeldata fra fellesområdet:

In [32]:
df_areal <- spark.read.path("/felles/veiledning/pyspark/eksempler/areal")

##### Datasettes skjema viser oss:
* kolonnenes/variablenes navn
* kolonne-/variabeltype

In [33]:
printSchema(df_areal)

root
 |-- Land: string (nullable = true)
 |-- Areal: integer (nullable = true)
 |-- Årstall: integer (nullable = true)
 |-- Landkode: string (nullable = true)
 |-- Kilde: string (nullable = true)

##### count() for å finne antall rader:

In [34]:
count(df_areal)

[1] 29

##### Viser de første 5 radene i datasettet ved å bruke head()

In [35]:
head(df_areal, 5)

  Land     Areal   Årstall Landkode Kilde
1 Norge     385178 2018    NO       https://www.fn.no/Statistikk/Areal
2 Sverige   447430 2018    SE       https://www.fn.no/Statistikk/Areal
3 Finland   338450 2018    FI       https://www.fn.no/Statistikk/Areal
4 Island    103000 2018    IS       https://www.fn.no/Statistikk/Areal
5 Grønland 2166086 2018    GL       https://snl.no/Gr%C3%B8nland