## Beregne
Denne noten har forløpig eksempler for funksjonene <b>avlede variabler</b> og <b>fordelingsberegninger</b>

#### Importerer bibliotekene Daplas python pakke (dapla) og pandas.

In [3]:
import dapla as dp
import pandas as pd

### Avlede variabler

#### Eksempel: 

Summere variabelene x og y fra et datasettet "df" til en ny variabel z:
<code>df['z'] = df['x'] + df['y'] 

avlede variabel "a" ved å dele variabel "x" på variabel "y":
<code>df ['a'] = df['x']/df['y']
  
I eksemplet under lager vi en ny variabel <b>Befolkningstetthet</b> fra variablene <i>innbyggerantall</i> og <i>areal</i>, men først må vi koble datasettene "df_innbyggerantall" og "df_areal" sammen til ett datasett.

### Hente eksempeldata

#### Kjører metoden <i>show</i> for å få oversikt over hvilke parquetdatasett som er tilrettelagt i tilknytning veilderens lagringsområde i sky. Oversikt blir lest inn i egen dataframe og blir kalt <i>df_datasets</i>.
Aktuelt lagringsområde blir lagt inn som parameter (stringobjekt som vi definerer selv) INNDATA_PATH .

In [4]:
INNDATA_PATH = '/felles/veiledning/pyspark/eksempler/'
df_datasets = dp.show(INNDATA_PATH)

#### df_datasets skrives ut i output vindu. 
Setter opsjonen max_colwith til 150 slik at vi får se all informasjon i df_datasets i output.<br/>
Oversikt over ulike options som kan settes i Pandas:https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [5]:
pd.options.display.max_colwidth = 150
df_datasets

,path,timestamp
0,/felles/veiledning/pyspark/eksempler/areal,2020-08-17 17:23:49.773
1,/felles/veiledning/pyspark/eksempler/areal/dokumentert,2020-07-27 12:06:56.555
2,/felles/veiledning/pyspark/eksempler/bnp,2020-08-17 17:24:20.285
3,/felles/veiledning/pyspark/eksempler/bnp/dokumentert,2020-09-04 08:18:54.911
4,/felles/veiledning/pyspark/eksempler/bnp_og_innbyggerantall,2020-07-06 13:15:23.213
5,/felles/veiledning/pyspark/eksempler/innbyggerantall/2017,2020-06-02 08:08:03.670
6,/felles/veiledning/pyspark/eksempler/innbyggerantall/2018,2020-06-02 08:07:54.694
7,/felles/veiledning/pyspark/eksempler/innbyggerantall/2020,2020-06-02 08:07:41.576
8,/felles/veiledning/pyspark/eksempler/landkode,2020-09-11 08:03:33.699

#### Avleder variabel filname fra variabelpath

In [6]:
df_datasets["filename"]= df_datasets["path"].str[len(INNDATA_PATH):]
df_datasets

,path,timestamp,filename
0,/felles/veiledning/pyspark/eksempler/areal,2020-08-17 17:23:49.773,areal
1,/felles/veiledning/pyspark/eksempler/areal/dokumentert,2020-07-27 12:06:56.555,areal/dokumentert
2,/felles/veiledning/pyspark/eksempler/bnp,2020-08-17 17:24:20.285,bnp
3,/felles/veiledning/pyspark/eksempler/bnp/dokumentert,2020-09-04 08:18:54.911,bnp/dokumentert
4,/felles/veiledning/pyspark/eksempler/bnp_og_innbyggerantall,2020-07-06 13:15:23.213,bnp_og_innbyggerantall
5,/felles/veiledning/pyspark/eksempler/innbyggerantall/2017,2020-06-02 08:08:03.670,innbyggerantall/2017
6,/felles/veiledning/pyspark/eksempler/innbyggerantall/2018,2020-06-02 08:07:54.694,innbyggerantall/2018
7,/felles/veiledning/pyspark/eksempler/innbyggerantall/2020,2020-06-02 08:07:41.576,innbyggerantall/2020
8,/felles/veiledning/pyspark/eksempler/landkode,2020-09-11 08:03:33.699,landkode

#### Selekterer ut rader bestående av de filnavn som vi ønsker å trekke ut for videre bearbeiding. 
Viser hvordan man kan bruke liste (python list) for å gjøre en slik seleksjon.

In [7]:
filenames = ['areal', 'innbyggerantall/2020']
df_datasets = df_datasets[df_datasets.filename.isin(filenames)]
df_datasets

,path,timestamp,filename
0,/felles/veiledning/pyspark/eksempler/areal,2020-08-17 17:23:49.773,areal
7,/felles/veiledning/pyspark/eksempler/innbyggerantall/2020,2020-06-02 08:07:41.576,innbyggerantall/2020

#### Oppretter dictionaryet dict_df og leser så de tre parquet datasettene i output vindu over inn som dataframes i dictionaryet. 
Filnavnene blir keys i dictionaryet. Avslutningsvis i pargrafen skrives key-navnene ut i output .

In [8]:
dict_df = {}
for rows in df_datasets.itertuples():
    dict_df[rows.filename] = dp.read_pandas(rows.path)
for key in dict_df:
    print(key)

areal
innbyggerantall/2020

### Skriver ut innhold i dataframene i dictionaryet

#### Areal

In [9]:
dict_df['areal']

,Land,Areal,Årstall,Landkode,Kilde
0,Norge,385178,2018,NO,https://www.fn.no/Statistikk/Areal
1,Sverige,447430,2018,SE,https://www.fn.no/Statistikk/Areal
2,Finland,338450,2018,FI,https://www.fn.no/Statistikk/Areal
3,Island,103000,2018,IS,https://www.fn.no/Statistikk/Areal
4,Grønland,2166086,2018,GL,https://snl.no/Gr%C3%B8nland
5,Færøyene,1396,2018,FO,https://snl.no/F%C3%A6r%C3%B8yene
6,Kroatia,56590,2018,HR,https://www.fn.no/Statistikk/Areal
7,Frankrike,549087,2018,FR,https://www.fn.no/Statistikk/Areal
8,Belgia,30530,2018,BE,https://www.fn.no/Statistikk/Areal
9,Norge,400000,2020,NO,RKR: Avrundet til nærmeste 10 000
10,Holland,41540,2018,NL,https://www.fn.no/Statistikk/Areal
11,Bulgaria,111000,2018,BG,https://www.fn.no/Statistikk/Areal
12,Romania,238400,2018,RO,https://www.fn.no/Statistikk/Areal
13,Slovenia,20675,2018,SI,https://www.fn.no/Statistikk/Areal
14,Spania,505935,2018,ES,https://www.fn.no/Statistikk/Areal
15,Sveits,41290,2018,CH,https://www.fn.no/Statistikk/Areal
16,Østerrike,83879,2018,AT,https://www.fn.no/Statistikk/Areal
17,Tyskland,357580,2018,DE,https://www.fn.no/Statistikk/Areal
18,Storbritannia,243610,2018,GB,https://www.fn.no/Statistikk/Areal
19,Tsjekkia,78870,2018,CZ,https://www.fn.no/Statistikk/Areal
20,Slovakia,49030,2018,SK,https://www.fn.no/Statistikk/Areal
21,San Marino,60,2018,SM,https://www.fn.no/Statistikk/Areal
22,Portugal,92226,2018,PT,https://www.fn.no/Statistikk/Areal
23,Polen,312680,2018,PL,https://www.fn.no/Statistikk/Areal
24,Nederland,41540,2018,NL,https://www.fn.no/Statistikk/Areal
25,Luxembourg,2590,2018,LU,https://www.fn.no/Statistikk/Areal
26,Kroatia,56590,2018,HR,https://www.fn.no/Statistikk/Areal
27,Italia,301340,2018,IT,https://www.fn.no/Statistikk/Areal
28,Danmark,42920,2018,DK,https://www.fn.no/Statistikk/Areal

#### Innbyggerantall 2020

In [10]:
dict_df['innbyggerantall/2020']

,Land,Landkode,Innbyggerantall,År,Kilde
0,Norge,NO,5449693,2020,https://www.fn.no/Statistikk/Befolkningstall
1,Sverige,SE,10121686,2020,https://www.fn.no/Statistikk/Befolkningstall
2,Finland,FI,5580127,2020,https://www.fn.no/Statistikk/Befolkningstall
3,Island,IS,343228,2020,https://www.fn.no/Statistikk/Befolkningstall
4,Færøyene,FO,0,2020,https://www.fn.no/Statistikk/Befolkningstall
5,Frankrike,FR,65721165,2020,https://www.fn.no/Statistikk/Befolkningstall
6,Norge,NO,5353363,2018,https://www.fn.no/Statistikk/Befolkningstall
7,Frankrike,FR,65721165,2020,https://www.fn.no/Statistikk/Befolkningstall
8,Belgia,BE,11619972,2020,https://www.fn.no/Statistikk/Befolkningstall
9,Bulgaria,BG,6940527,2020,https://www.fn.no/Statistikk/Befolkningstall
10,Slovenia,SI,2082055,2020,https://www.fn.no/Statistikk/Befolkningstall
11,Spania,ES,46459219,2020,https://www.fn.no/Statistikk/Befolkningstall
12,Sveits,CH,8670535,2020,https://www.fn.no/Statistikk/Befolkningstall
13,Østerrike,AT,8782210,2020,https://www.fn.no/Statistikk/Befolkningstall
14,Tyskland,DE,82540450,2020,https://www.fn.no/Statistikk/Befolkningstall
15,Storbritannia,GB,67334208,2020,https://www.fn.no/Statistikk/Befolkningstall
16,Frankrike,FR,65721165,2020,https://www.fn.no/Statistikk/Befolkningstall
17,San Marino,SM,33809,2020,https://www.fn.no/Statistikk/Befolkningstall
18,Portugal,PT,10218413,2020,https://www.fn.no/Statistikk/Befolkningstall
19,Polen,PL,37942231,2020,https://www.fn.no/Statistikk/Befolkningstall
20,Nederland,NL,17181248,2020,https://www.fn.no/Statistikk/Befolkningstall
21,Luxembourg,LU,603944,2020,https://www.fn.no/Statistikk/Befolkningstall
22,Kroatia,HR,4115947,2020,https://www.fn.no/Statistikk/Befolkningstall
23,Norge,NO,5224323,2020,https://www.fn.no/Statistikk/Befolkningstall
24,Italia,IT,59132073,2020,https://www.fn.no/Statistikk/Befolkningstall
25,Danmark,DK,5796800,2020,https://www.fn.no/Statistikk/Befolkningstall

#### Fjerner duplikater og kolonner vi ikke ønsker å ha med videre
Vi ønsker å sette sammen informasjon fra datasettene i dictinaryet til et nytt datasett. Dette vil vi gjøre ved å koble de sammen via Landkode variabel. Vi fjerner eventuelle dublikater (tar med første forekomst) på Landkode og dropper variable som vi ikke trenger/ønsker å ha med på det nye datasettet i innledende steg under.

Areal

In [11]:
dict_df['areal'] = dict_df['areal'].drop_duplicates(subset="Land", keep='first', inplace=False).drop(columns= ['Årstall', 'Kilde', 'Landkode'])

Innbyggerantall (bruker liste funksjonalitet)

In [12]:
liste_drop_kolonner = ['Landkode', 'Kilde', 'År']
dict_df['innbyggerantall/2020'] = dict_df['innbyggerantall/2020'].drop_duplicates(subset="Landkode", keep='first', inplace=False).drop(columns=liste_drop_kolonner)

In [13]:
dict_df

{'areal':              Land    Areal
 0           Norge   385178
 1         Sverige   447430
 2         Finland   338450
 3          Island   103000
 4        Grønland  2166086
 5        Færøyene     1396
 6         Kroatia    56590
 7       Frankrike   549087
 8          Belgia    30530
 10        Holland    41540
 11       Bulgaria   111000
 12        Romania   238400
 13       Slovenia    20675
 14         Spania   505935
 15         Sveits    41290
 16      Østerrike    83879
 17       Tyskland   357580
 18  Storbritannia   243610
 19       Tsjekkia    78870
 20       Slovakia    49030
 21     San Marino       60
 22       Portugal    92226
 23          Polen   312680
 24      Nederland    41540
 25     Luxembourg     2590
 27         Italia   301340
 28        Danmark    42920,
 'innbyggerantall/2020':              Land  Innbyggerantall
 0           Norge          5449693
 1         Sverige         10121686
 2         Finland          5580127
 3          Island           343228
 4        Færøyene                0
 5       Frankrike         65721165
 8          Belgia         11619972
 9        Bulgaria          6940527
 10       Slovenia          2082055
 11         Spania         46459219
 12         Sveits          8670535
 13      Østerrike          8782210
 14       Tyskland         82540450
 15  Storbritannia         67334208
 17     San Marino            33809
 18       Portugal         10218413
 19          Polen         37942231
 20      Nederland         17181248
 21     Luxembourg           603944
 22        Kroatia          4115947
 24         Italia         59132073
 25        Danmark          5796800}

#### Kobler sammen datasettene og etablerer en dataframe vi skal skrive til dapla for senere å utføre en statistisk analyse på

Kobler først areal og bnp og oppretter dataframen df_areal_innb. Vi legger ikke denne dataframen inn i dictionaryet. Det hadde imidlertid enkelt latt seg gjøre ved å f.eks. bytte ut df_areal_innb med dict['areal_innb].

In [14]:
df_areal_innb = pd.merge(left=dict_df['areal'], right=dict_df['innbyggerantall/2020'], left_on='Land', right_on='Land')

In [15]:
df_areal_innb

             Land   Areal  Innbyggerantall
0           Norge  385178          5449693
1         Sverige  447430         10121686
2         Finland  338450          5580127
3          Island  103000           343228
4        Færøyene    1396                0
5         Kroatia   56590          4115947
6       Frankrike  549087         65721165
7          Belgia   30530         11619972
8        Bulgaria  111000          6940527
9        Slovenia   20675          2082055
10         Spania  505935         46459219
11         Sveits   41290          8670535
12      Østerrike   83879          8782210
13       Tyskland  357580         82540450
14  Storbritannia  243610         67334208
15     San Marino      60            33809
16       Portugal   92226         10218413
17          Polen  312680         37942231
18      Nederland   41540         17181248
19     Luxembourg    2590           603944
20         Italia  301340         59132073
21        Danmark   42920          5796800

### Avlede variabelen <i>befolkningstetthet</i>

In [16]:
df_areal_innb ['Befolkningstetthet'] = df_areal_innb['Innbyggerantall']/df_areal_innb['Areal']
df_areal_innb

             Land   Areal  Innbyggerantall  Befolkningstetthet
0           Norge  385178          5449693           14.148505
1         Sverige  447430         10121686           22.621831
2         Finland  338450          5580127           16.487301
3          Island  103000           343228            3.332311
4        Færøyene    1396                0            0.000000
5         Kroatia   56590          4115947           72.732762
6       Frankrike  549087         65721165          119.691716
7          Belgia   30530         11619972          380.608320
8        Bulgaria  111000          6940527           62.527270
9        Slovenia   20675          2082055          100.703990
10         Spania  505935         46459219           91.828434
11         Sveits   41290          8670535          209.991160
12      Østerrike   83879          8782210          104.700938
13       Tyskland  357580         82540450          230.830723
14  Storbritannia  243610         67334208          276.401658
15     San Marino      60            33809          563.483333
16       Portugal   92226         10218413          110.797530
17          Polen  312680         37942231          121.345244
18      Nederland   41540         17181248          413.607318
19     Luxembourg    2590           603944          233.183012
20         Italia  301340         59132073          196.230414
21        Danmark   42920          5796800          135.060578

#### Lage en grupperingsvariabel
For å vise eksempler på fordelingsberegninger lager vi en grupperingsvariabel på <b>befolkningstetthet</b>. Landene hvor befolkningstetthet er mindre enn 100 plasseseres i gruppe 1, mens de landene med befolkningstetthet på 100 og større plasseres i gruppe 2. 

Dette gjøres ved å benytte en logisk betingelse med funksjonen <code> lambda x </code> https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

#### Eksempel:
<code>df['avledet variabel'] = df['variabel som er utgangspunktet'].apply(lambda x: 'verdi hvis betingelse er sann' if x betingelse else 'verdi hvis ikke sant')</code>

In [17]:
df_areal_innb['Tetthetsgruppe'] = df_areal_innb['Befolkningstetthet'].apply(lambda x: "1" if x<100 else "2")

#### Telle opp land i de ulike befolkningstetthetsgruppene

In [25]:
df_areal_innb['Tetthetsgruppe'].value_counts()

2    14
1     8
Name: Tetthetsgruppe, dtype: int64

#### Gjennomsnitt og max innbyggertall per Tetthetsgruppe

In [41]:
df_areal_innb.groupby(['Tetthetsgruppe']).mean()

                     Land   Areal  Innbyggerantall  Befolkningstetthet
Tetthetsgruppe
1                 Sverige  505935         46459219           91.828434
2               Østerrike  549087         82540450          563.483333

In [42]:
df_areal_innb.groupby(['Tetthetsgruppe']).max()

                     Land   Areal  Innbyggerantall  Befolkningstetthet
Tetthetsgruppe
1                 Sverige  505935         46459219           91.828434
2               Østerrike  549087         82540450          563.483333

#### Summere antall innbyggerer

In [46]:
df_areal_innb['Innbyggerantall'].sum()

456669540

#### Telle antall forekomster i kolonnen "Innbyggertall"

In [47]:
df_areal_innb['Innbyggerantall'].count()

22